# Konfiguracja Telegram
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

# Konfiguracja RCLONE
RCLONE_REMOTE="gdrive"
RCLONE_ROOT=""

# Ścieżki dla pipelineu
INCOMING_DIR="/mnt/incoming"
SORTED_DIR="/mnt/sorted"
GDRIVE_PATH="Posortowane"